@charset "ISO-8859-1";

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

.container {
  width: 80%;
  margin: 30px auto;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

h2 {
  color: #333;
  text-align: center;
}

form {
  display: flex;
  flex-wrap: wrap;
}

input[type="text"] {
  width: calc(50% - 50px);
  margin: 10px;
  padding: 15px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 5px;
  display: inline-block;
}

input[type="email"] {
  width: calc(50% - 50px);
  margin: 10px;
  padding: 15px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 5px;
  display: inline-block;
}

input[type="text"]:nth-child(odd) {
  margin-right: 10px;
}

input[type="submit"] {
  position: relative;
  width: 30%;
  margin-left: 35%;
  padding: 15px;
  box-sizing: border-box;
  background-color: #4CAF50;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #45a049;
}
